<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布帖子</title>
    <!--css-->
    <link rel="stylesheet" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/plugins/editor/css/editormd.css">
    <link rel="stylesheet" href="__PUBLIC__/css/nav-bar.css">

    <!-- jquery -->
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <!--vue-->
    <script src="__PUBLIC__/js/vue.min.js"></script>
    <!--bootstrap-->
    <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.js"></script>
    <!--editor.md-->
    <script src="__PUBLIC__/plugins/editor/js/editormd.js"></script>

    <style type="text/css">

    </style>
</head>
<body>
<div class="main">
    <div class="layout">
        <div class="layout__panel layout__panel--articletitle-bar"
             style="width: 100%; height: 56px; overflow: inherit;">
            <div class="article-bar flex flex--row">
                <div class="article-bar__input-box">
                    <input maxlength="100" placeholder="输入文章标题"
                           class="article-bar__title article-bar__title--input text-input article-bar__title--focus">
                    <span class="article-bar__number"><span class="">0</span>/100</span>
                </div>
                <div class="article-bar__user-box flex flex--row">
                    <button class="btn btn-publish" onclick="submit()">发布文章</button>
                    <div class="user-box">
                        <!--<div class="btn-userinfo">-->
                            <!--<div class="avatar-box">-->
                                <!--<a href="https://mp.csdn.net">-->
                                    <!--<img src="https://avatar.csdn.net/6/D/A/3_athain.jpg"-->
                                    <!--alt="Athain" width="32" height="32" class="img-user-avatar">-->
                                    <!--&lt;!&ndash;&ndash;&gt;-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="user-option-box">-->
                                <!--<a href="https://mp.csdn.net">博文管理</a>-->
                                <!--<a href="https://blog.csdn.net/Athain">我的博客</a>-->
                                <!--<a href="https://passport.csdn.net/account/logout?ref=mdeditor">退出</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="editor" class="layout__panel flex flex--column">

        </div>
    </div>

</div>


<script type="text/javascript">
    let editor = editormd("editor", {
        placeholder: "",
        width: "100%",
        height: "700",
        syncScrolling: "single",
        path: "__PUBLIC__/plugins/editor/lib/",
        toolbarIcons: function () {
            return editormd.toolbarModes["full"]
        },
        imageUpload: true,
        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp"],
        imageUploadURL: "upload.html",
        lineNumbers:false,
        lineWrapping:false,
        styleActiveLine:false,
        styleSelectedText:false,
        onload: function(){
            console.log(this.settings);
        },
        saveHTMLToTextarea:true
    });

    function submit(){
        console.log(editor.getHTML());
        console.log(editor.getPreviewedHTML());
    }
</script>
</body>
</html>