<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息页面</title>
    <!--css-->
    <link rel="stylesheet" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/plugins/editor/css/editormd.css">

    <!-- jquery -->
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <!--vue-->
    <script src="__PUBLIC__/js/vue.min.js"></script>
    <!--bootstrap-->
    <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.js"></script>
    <!--editor.md-->
    <script src="__PUBLIC__/plugins/editor/js/editormd.js"></script>
</head>
<body>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="nav nav-tabs">
                    <li><a href="/warframe/index/index/index.html">Home</a></li>
                    <li class="active"><a href="/warframe/index/forum/index.html">Forum</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-7">
                <a href="/warframe/index/forum/edit.html">发布文章</div>
            </div>
        </div>
        <div class="row">
            <div class="submit" onclick="submit()">
                提交
            </div>
            <div id="editor"></div>
        </div>
    </div>
    <div>{{message}}</div>
</div>


<script type="text/javascript">
    new Vue({
        el:"#main",
        data:{
            message:"{$message}"
        }
    });
    let editor = editormd("editor",{
            placeholder:"please input you content...",
            width:"100%",
            height:500,
            syncScrolling:"single",
            path:"__PUBLIC__/plugins/editor/lib/",
            toolbarIcons:function(){
                return editormd.toolbarModes["full"]
            },
            imageUpload:true,
            imageFormats:["jpg","jpeg","gif","png","bmp"],
            imageUploadURL:"upload.html"
    });

    function submit(){
        console.log(editor.getHTML());
        console.log(editor.getPreviewedHTML());
    }

</script>
</body>
</html>