<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息页面</title>
    <!--css-->
    <link rel="stylesheet" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/plugins/editor/css/editormd.css">

    <!-- jquery -->
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <!--vue-->
    <script src="__PUBLIC__/js/vue.min.js"></script>
    <!--bootstrap-->
    <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.js"></script>
    <!--editor.md-->
    <script src="__PUBLIC__/plugins/editor/js/editormd.js"></script>
</head>
<body>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="nav nav-tabs">
                    <li><a href="__ROOT__/index/index/index.html">Home</a></li>
                    <li class="active"><a href="__ROOT__/index/forum/index.html">Forum</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-offset-11">
                <a href="__ROOT__/index/forum/edit.html">发布文章</a>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>


<script type="text/javascript">
    new Vue({
        el:"#main",
        data:{
            message:"{$message}"
        }
    });



</script>
</body>
</html>