<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>warframe</title>
    <link rel="stylesheet" href="__plugins__/bootstrap/css/bootstrap.css">
    <script src="__JS__/jquery-3.4.1.min.js"></script>
    <script src="__JS__/vue.min.js"></script>
    <script src="__plugins__/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/warframe/index/index/index.html">Home</a></li>
                    <li><a href="/warframe/index/forum/index.html">Forum</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="voidTrader">
                    {{source.voidTrader.character}}于{{timestamp2date(timeList.voidTrader.activation)}}后{{source.voidTrader.active?"离开":"降临"}}<br/>
                    于{{timestamp2date(timeList.voidTrader.expiry)}}后{{source.voidTrader.active?"降临":"离开"}}
                </div>
                <div v-if="source.voidTrader.inventory.length > 0">
                    <div>带来的商品：</div>
                    <div v-for="item in source.voidTrader.inventory" class="col-md-3">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md -12">
                <div id="cetusCycle">
                    <div>希图斯</div>
                    <div>距离{{source.cetusCycle.isDay?"黑夜":"白天"}}还有 {{timestamp2date(timeList.cetusCycle)}}</div>
                </div>
                <div id="vallisCycle">
                    <div>福图纳</div>
                    <div>距离{{source.vallisCycle.isWarm?"寒冷":"温暖"}}还有 {{timestamp2date(timeList.vallisCycle)}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="syndicateMissions">
                <div>集团任务</div>

                <div v-for="(syndicateMission,index) in source.syndicateMissions" class="col-md-12">
                    <div>剩余时间：{{getTimeByIndex("syndicateMissions",index)}}</div>
                    <div>集团：{{syndicateMission.syndicate}}</div>
                    <div v-if="syndicateMission.nodes.length > 0" class="col-md-12">
                        <div>任务节点</div>
                        <div v-for="node in syndicateMission.nodes" class="col-md-4">
                            {{node}}
                        </div>
                    </div>
                    <div v-if="syndicateMission.jobs.length > 0">
                        <div v-for="job in syndicateMission.jobs" class="col-md-6">
                            <div>任务类型：{{job.type}}</div>
                            <div>敌人等级：{{job.enemyLevels}}</div>
                            <div>奖池</div>
                            <div v-for="reward in job.rewardPool" class="col-md-6">
                                {{reward}}
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="sortie">
                    <div>突击</div>
                    <div>{{timestamp2date(timeList.sortie)}}</div>
                    <div>
                        <div v-for="item in source.sortie.variants" class="col-md-4">
                            <p>
                            <div>任务类型：{{item.missionType}}</div>
                            <div>异常效果：{{item.modifier}}</div>
                            <div>异常说明：{{item.modifierDescription}}</div>
                            <div>地点：{{item.node}}</div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10">
                    <div id="fissures">
                        <div>裂隙</div>
                        <div v-for="(item,index) in source.fissures" class="col-md-3">
                            <p>
                            <div>地点：{{item.node}}</div>
                            <div>派系：{{item.enemy}}</div>
                            <div>任务类型：{{item.missionType}}</div>
                            <div>纪元：{{item.tier}}(T{{item.tierNum}})</div>
                            <div>剩余时间：{{getTimeByIndex("fissures",index)}}</div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-10">
                    <div id="invasions">
                        <div>入侵</div>
                        <div v-for="item in source.invasions" class="col-md-3">
                            <p>
                            <div>地点：{{item.node}}</div>
                            <div>说明：{{item.desc}}</div>
                            <div v-if="!item.vsInfestation">
                                <div>进攻方</div>
                                <div>奖励：
                                    <div v-for="reward in item.attackerReward.countedItems">
                                        {{reward.count}}×{{reward.type}}
                                    </div>
                                </div>
                                <div>派系：{{item.attackingFaction}}</div>
                            </div>
                            <div>
                                <div>防守方</div>
                                <div>奖励：
                                    <div v-for="reward in item.defenderReward.countedItems">
                                        {{reward.count}}×{{reward.type}}
                                    </div>
                                </div>
                                <div>派系：{{item.defendingFaction}}</div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#main",
        data: {
            servlet: '{$servlet}',
            source: null,
            timer: null,
            timeList: null,
            requestList: [],
            num: 5
        },
        created() {
            //取到所有数据
            let source = {$source};
            for (let tmp in source) {
                try {
                    source[tmp] = JSON.parse(source[tmp]);
                } catch (e) {
                    console.log("-----" + tmp + "内容存在问题" + "-----");
                    console.log(source, tmp);
                    console.log(e);
                    console.log("------------------------------------");
                    this.reflushSource(tmp);
                }
            }
            this.source = source;
            this.init(source);
        },
        mounted() {
            this.startInterval();
        },
        methods: {
            /**
             * 通过传入关键字与下标获取时间
             */
            getTimeByIndex: function (obj, index) {
                try {
                    return this.timestamp2date(this.timeList[obj][index]);
                } catch (e) {
                    return NaN;
                }
            },
            //初始化时间集合
            init: function (source) {
                timeList = [];
                //取出所有的时间
                this.getTime(source, timeList, "expiry");
                this.timeList = timeList;
            },
            /**
             * 根据传入的key获取时间
             * @param obj   需要获取时间对象
             * @param list  时间对象集合
             * @param key   需要获取的字段
             * @returns {*}
             */
            getTime: function (obj, list, key) {
                for (let tmp in obj) {
                    if (obj[tmp] instanceof Array) {
                        list[tmp] = [];
                        this.getTime(obj[tmp], list[tmp], key);
                    } else {
                        if (obj[tmp][key]) {
                            if (tmp === "voidTrader") {
                                list[tmp] = [];
                                list[tmp]["activation"] = this.str2timestamp(obj[tmp]["activation"]) - (new Date()).getTime();
                                list[tmp][key] = this.str2timestamp(obj[tmp][key]) - (new Date()).getTime();
                            } else {
                                list[tmp] = this.str2timestamp(obj[tmp][key]) - (new Date()).getTime();
                            }
                        }
                    }
                }
            },
            /**
             * 将String格式日期转化为时间戳
             */
            str2timestamp: function (time) {
                if (!time) {
                    time = 0;
                }
                return Date.parse(time);
            },
            /**
             *  时间戳变更为当前时间戳，并格式化为字符串显示
             */
            timestamp2date: function (time) {
                let date = "";
                time = Math.floor(time / 1000);
                let hour = Math.floor(time / 3600);
                if (hour > 24) {
                    date = Math.floor(hour / 24) + "天";
                    hour = hour % 24;
                }
                let minute = Math.floor(time % 3600 / 60);
                let second = Math.floor(time % 60);

                date = date + hour + "时 " + minute + "分 " + second + "秒 ";
                return date;
            },
            //倒计时：根据时间数组倒计时
            countdown: function () {
                let temp = [];
                let timeList = this.timeList;
                for (let tmp in timeList) {
                    timeList[tmp] = this.resolveTimeList(timeList[tmp], tmp);
                }
                for (let tmp in timeList) {
                    temp[tmp] = timeList[tmp];
                }

                this.timeList = temp;

            },
            /**
             * 将时间数组解析自减
             */
            resolveTimeList: function (time, key) {
                if (time instanceof Array) {
                    for (let tmp in time) {
                        time[tmp] = this.resolveTimeList(time[tmp], key);
                    }
                } else {
                    if (time) {
                        if (time < 0) {
                            this.reflushSource(key);
                        }
                        time -= 1000;
                    } else {
                        time = 99999999;
                    }
                }
                return time;
            },
            /**
             *  当时间失效时，强制更新时间
             */
            reflushSource: function (key) {
                //通过标记防止一次性多次重复调用更新接口
                if (!this.requestList[key]) {
                    console.log(this.requestList,key);
                    this.requestList[key] = true;
                    this.updateSource(key);
                }

            },
            updateSource: function (key) {
                console.log("开始更新", key);
                let _this = this;
                $.ajax({
                    url: _this.servlet + "index/index/updateInterval?key=" + key,
                    method: "get",
                    success: res => {
                        try {
                            _this.source[key] = JSON.parse(JSON.parse(res));
                            let source = [];
                            for (let tmp in _this.source) {
                                source[tmp] = _this.source[tmp];
                            }
                            _this.source = source;
                            _this.init(source);
                            _this.requestList[key] = false;
                        } catch (e) {
                            console.log(key + "在更新时出现了问题 ");
                        }

                    }
                });
            },
            startInterval: function () {
                this.timer = setInterval(this.countdown, 1000);
            }
        }
    });
</script>
</body>
</html>