<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>warframe</title>
    <link rel="stylesheet" href="__plugins__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/common.css">
    <script src="__JS__/jquery-3.4.1.min.js"></script>
    <script src="__JS__/vue.min.js"></script>
    <script src="__plugins__/bootstrap/js/bootstrap.js"></script>
    <script src="__JS__/index/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
</head>
<body>
<div id="main">
    <div class="container">
        <el-menu
                :default-active="activeIndex2"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1"><a href="/warframe/index/index/index.html">Home</a></el-menu-item>
            <el-menu-item index="2"><a href="/warframe/index/forum/index.html">Forum</a></el-menu-item>
        </el-menu>
        <!--奸商-->
        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div id="voidTrader" class="panel-heading">
                    <!--到来-->
                    <div v-if="source.voidTrader.active">
                        <div>Baro Ki'Teer已到来，他将在{{timestamp2date(timeList.voidTrader.expiry)}}后离开</div>
                    </div>
                    <div v-if="!source.voidTrader.active">
                        <div>Baro Ki'Teer将在{{timestamp2date(timeList.voidTrader.activation)}}降临</div>
                    </div>
                </div>
                <div v-if="source.voidTrader.inventory.length > 0" class="panel-body">
                    <div>带来的商品：</div>
                    <div v-for="item in source.voidTrader.inventory" class="col-md-3 mt-15">
                        <div>物品名：{{item.item}}</div>
                        <div>价格：{{item.ducats}}杜德币+{{item.credits}}星币</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sentient 星舰-->
        <div class="row">
            <div class="col-md-12">
                <div id="sentientOutposts">
                    Sentient星舰{{source.sentientOutposts.active?"降临":"未抵达"}}
                </div>
            </div>
        </div>

        <!--希图斯&福图纳-->
        <div class="row">
            <div class="col-md -12">
                <div id="cetusCycle">
                    <div>希图斯</div>
                    <div>距离{{source.cetusCycle.isDay?"黑夜":"白天"}}还有 {{timestamp2date(timeList.cetusCycle)}}</div>
                </div>
                <div id="vallisCycle">
                    <div>福图纳</div>
                    <div>距离{{source.vallisCycle.isWarm?"寒冷":"温暖"}}还有 {{timestamp2date(timeList.vallisCycle)}}</div>
                </div>
            </div>
        </div>

        <el-tabs v-model="activeName" @tab-click="syndicateMissionTabs" >
            <el-tab-pane
                    :label="syndicateMission.syndicate" :name="'syndicate_'+index"
                    v-for="(syndicateMission,index) in source.syndicateMissions">
                <div class="col-md-12 box-shadow border border-radius-4 pt-10 pb-10" >
                    <div>剩余时间：{{getTimeByIndex("syndicateMissions",index)}}</div>
                    <div v-if="syndicateMission.nodes.length > 0" class="col-md-12">
                        <div>任务节点</div>
                        <div v-for="node in syndicateMission.nodes" class="col-md-4">
                            {{node}}
                        </div>
                    </div>
                    <div v-if="syndicateMission.jobs.length > 0">
                        <div v-for="job in syndicateMission.jobs" class="col-md-6">
                            <div>任务类型：{{job.type}}</div>
                            <div>敌人等级：{{job.enemyLevels}}</div>
                            <div>奖池</div>
                            <div v-for="reward in job.rewardPool" class="col-md-6">
                                {{reward}}
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>

        <div class="row">
            <div class="col-md-12">
                <div id="sortie">
                    <div>突击</div>
                    <div>{{timestamp2date(timeList.sortie)}}</div>
                    <div>
                        <div v-for="item in source.sortie.variants" class="col-md-4">
                            <p>
                            <div>任务类型：{{item.missionType}}</div>
                            <div>异常效果：{{item.modifier}}</div>
                            <div>异常说明：{{item.modifierDescription}}</div>
                            <div>地点：{{item.node}}</div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10">
                    <div id="fissures">
                        <div>裂隙</div>
                        <div v-for="(item,index) in source.fissures" class="col-md-3">
                            <p>
                            <div>地点：{{item.node}}</div>
                            <div>派系：{{item.enemy}}</div>
                            <div>任务类型：{{item.missionType}}</div>
                            <div>纪元：{{item.tier}}(T{{item.tierNum}})</div>
                            <div>剩余时间：{{getTimeByIndex("fissures",index)}}</div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-10">
                    <div id="invasions">
                        <div>入侵</div>
                        <div v-for="item in source.invasions" class="col-md-3">
                            <p>
                            <div>地点：{{item.node}}</div>
                            <div>说明：{{item.desc}}</div>
                            <div v-if="!item.vsInfestation">
                                <div>进攻方</div>
                                <div>奖励：
                                    <div v-for="reward in item.attackerReward.countedItems">
                                        {{reward.count}}×{{reward.type}}
                                    </div>
                                </div>
                                <div>派系：{{item.attackingFaction}}</div>
                            </div>
                            <div>
                                <div>防守方</div>
                                <div>奖励：
                                    <div v-for="reward in item.defenderReward.countedItems">
                                        {{reward.count}}×{{reward.type}}
                                    </div>
                                </div>
                                <div>派系：{{item.defendingFaction}}</div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="arbitration">
                <div>仲裁</div>
                <div class="col-md-12">
                    <div>剩余时间：{{timestamp2date(timeList.arbitration)}}</div>
                    <div>战斗地点：{{source.arbitration.node}}</div>
                    <div>敌人派系：{{source.arbitration.enemy}}</div>
                    <div>任务类型：{{source.arbitration.type}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="kuva">
                <div>赤毒任务</div>
                <div v-for="(kuva,index) in source.kuva" class="col-md-4">
                    <div>剩余时间：{{getTimeByIndex("kuva",index)}}</div>
                    <div>任务节点：{{kuva.node}}</div>
                    <div>敌人派系：{{kuva.enemy}}</div>
                    <div>任务类型：{{kuva.type}}</div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    let source = {$source};
    let servlet = {$servlet};
    init(source, servlet);
</script>
</body>
</html>