<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__JS__/jquery-3.4.1.min.js"></script>
    <script src="__JS__/vue.min.js"></script>
</head>
<body>
<div id="main">
    <div id="syndicateMissions">
    <!--<div>{{syndicateMissions}}</div>-->
    </div>

    <div id="sortie">
        <div>突击</div>
        <div>{{timestamp2date(timeList.sortie)}}</div>
        <div>
            <div v-for="item in source.sortie.variants">
                <p>
                <div>任务类型：{{item.missionType}}</div>
                <div>异常效果：{{item.modifier}}</div>
                <div>异常说明：{{item.modifierDescription}}</div>
                <div>地点：{{item.node}}</div>
                </p>
            </div>
        </div>
    </div>
    <div id="fissures">
        <div>裂隙</div>
        <div v-for="item in source.fissures">
            <p>
                <div>地点：{{item.node}}</div>
                <div>派系：{{item.enemy}}</div>
                <div>任务类型：{{item.missionType}}</div>
                <div>纪元：{{item.tier}}(T{{item.tierNum}})</div>
                <div>剩余时间：{{item.eta}}</div>
            </p>
        </div>
    </div>
    <div id="invasions">
        <div>入侵</div>
        <div v-for="item in source.invasions">
            <p>
            <div>地点：{{item.node}}</div>
            <div>说明：{{item.desc}}</div>
            <div v-if="!item.vsInfestation">
                <div>进攻方</div>
                <div>奖励：
                    <div v-for="reward in item.attackerReward.countedItems">
                        {{reward.count}}×{{reward.type}}
                    </div>
                </div>
                <div>派系：{{item.attackingFaction}}</div>
            </div>
            <div>
                <div>防守方</div>
                <div>奖励：
                    <div v-for="reward in item.defenderReward.countedItems">
                        {{reward.count}}×{{reward.type}}
                    </div>
                </div>
                <div>派系：{{item.defendingFaction}}</div>
            </div>
            </p>
        </div>
    </div>

    <!--<div id="cetusCycle">-->
    <!--<div>{{cetusCycle}}</div>-->
    <!--</div>-->
    <!--<div id="vallisCycle">-->
    <!--<div>{{vallisCycle}}</div>-->
    <!--</div>-->
    <!--<div id="voidTrader">-->
    <!--<div>{{timestamp2date(voidTrader)}}</div>-->
    <!--</div>-->
</div>
<script>
    new Vue({
        el: "#main",
        data: {
            servlet:'{$servlet}',
            source:null,
            timer: null,
            timeList: null,
            num:5
        },
        created() {
            let list = [
                "cetusCycle", "fissures",
                "invasions", "sortie",
                "syndicateMissions", "vallisCycle",
                "voidTrader"
            ];
            //取到所有数据
            let source = {$source};
            for(let tmp in source){
                source[tmp] = JSON.parse(source[tmp]);
            }
            this.source = source;
            timeList = new Array();
            for(let tmp in source){
                timeList[tmp] = this.getTime(source[tmp],timeList[tmp],"expiry");
            }
            console.log(timeList);
        },
        mounted() {

            // this.startInterval();
        },
        methods: {
            getTime:function(obj,list,key){
                if(obj instanceof Array){
                    list = new Array();
                    for(let tmp in obj){
                        list[tmp] = this.getTime(obj[tmp],list[tmp],key);
                        if(!list[tmp]){
                            delete list[tmp];
                        }
                    }
                }else{
                    if(obj[key]){
                        list = obj[key];
                    }else{
                        return null;
                    }
                }
                return list;
            },
            str2timestamp: function (time) {
                if (!time) {
                    time = 0;
                }
                return Date.parse(time);
            },
            timestamp2date: function (time) {
                let date = "";
                time = Math.floor(time / 1000);
                let hour = Math.floor(time / 3600);
                if (hour > 24) {
                    hour = hour % 24;
                }
                let minute = Math.floor(time % 3600 / 60);
                let second = Math.floor(time % 60);

                date = date + hour + "时 " + minute + "分 " + second + "秒 ";
                return date;
            },
            //倒计时：根据时间数组倒计时
            countdown: function () {
                let temp = [];
                for (let key in this.timeList) {
                    temp[key] = this.timeList[key] - 1000;
                    if(temp[key] < 0 && this.num > 0){
                        this.num --;
                        console.log(temp[key]);
                        $.ajax({
                            url:this.servlet + "index/index/updateInterval?key="+key,
                            method:"get",
                            success:res=>{
                                console.log(res);
                            }
                        });
                        continue;
                    }
                }
                this.timeList = temp;
            },
            startInterval: function () {
                console.log("启动定时器");
                this.timer = setInterval(this.countdown, 1000);
            }
        }
    });


</script>
</body>
</html>